.accommodation {
  flex: 0 0 100%;
}


.accommodation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.accommodation-item {
  flex: 0 0 calc(33.3% - 17px);
  margin-bottom: 24px;
  line-height: 2;
  background-color: #ffffff;
  border-radius: 10px;
}

.accommodation-item-image {
  border-radius: 10px 10px 0 0;
}


.accomondation-item-wrapper {
  padding-left: 44px;
}

.accomondation-item-name {
  font-size: 16px;
  font-weight: 500;
}

.accomondation-item-location {
  color: #999999;
}

.accommodation-item-price {
  font-size: 22px;
  font-weight: 700;
}

.accomondatoin-item-rating {
  display: inline-block;
  padding-left: 35px;

}

.accommodation-item-rooms {
  display: inline-block;
  padding: 15px 20px;
  margin-bottom: 40px;
  font-size: 16px;
  color: #cc9933;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  border: 1px solid #cc9933;
  border-radius: 10px;
}

.all-variant {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 52px;
  background-image: url(../image/all-variant.jpg);
}

.accommodation-link-all {
  padding-right: 22px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  background-image: url(../image/svg/next-white.svg);
  background-repeat: no-repeat;
  background-size: auto 22px;
  background-position: right;
}
