.fast-booking {
  flex: 0 0 calc(50% - 27px);
}

.booking-form {
   display: flex;
   flex-direction: column;
   margin-bottom: 70px;
 }

.booking-form-input {
  margin-bottom: 24px;
  padding-left: 21px;
  min-height: 70px;
  border-radius: 10px;
}

.booking-form-button {
  margin-right: 30px;
  padding: 27px 30px;
  font-size: 16px;
  line-height: 1;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  background-color: #cc9933;
  cursor: pointer;
}

.booking-form-color-numeral {
  color: #cc9933;
}

.booking-form-text {
  color: #a5a5a5;
}





