.footer {
  flex: 0 0 100%;
  margin-bottom: 50px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
  color: #ffffff;
  background-color: #333333;
  border-radius: 12px;
  background-image: url(../image/sun.png);
  background-repeat: no-repeat;
  background-position: 80% bottom ;
}

.footer-copyright-agreement {
  flex: 0 0 calc(35% - 50px);
  line-height: 2;
}

.footer-copyright-agreement-text {
  margin-bottom: 35px;
}

.footer-copyright-agreement-link, .footer-contacts-tel, .footer-contacts-mail {
  color: #cc9933;
}

.footer-contacts {
  flex: 0 0 calc(45% - 50px);
  line-height: 1.5;
}

.footer-contacts-text {
  margin-bottom: 30px;
}
.footer-contacts-link {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.footer-social {
  flex: 0 0 calc(15% - 50px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-social-icon {
  display: inline-block;
  margin-bottom: 20px;
  width: 25px;
  height: 25px;

}

.tripadvisor {
  background-image: url(../image/svg/tripadvisor.svg);
  background-repeat: no-repeat;


}

.twitter {
  background-image: url(../image/svg/twitter.svg);
  background-repeat: no-repeat;
}

.facebook {
  background-image: url(../image/svg/facebook.svg);
  background-repeat: no-repeat;
}

.vk {
  background-image: url(../image/svg/vk.svg);
  background-repeat: no-repeat;
}

.google-plus {
  background-image: url(../image/svg/google-plus-social-logotype.svg);
  background-repeat: no-repeat;
}
