.services {
  flex: 0 0 100%;
  margin-bottom: 70px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-item {
  flex: 0 0 calc(50% - 12px);
  margin-bottom: 24px;
  padding-top: 200px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
}

.link-service {
  display: inline-block;
  margin-bottom: 15px;/*???*/
  padding-left: 45px;
  padding-right: 20px;
  font-size: 22px;
  color: #cc9933;
  font-weight: 500;
  background-image: url(../image/svg/next.svg);
  background-repeat: no-repeat;
  background-size: auto 18px;
  background-position: right;
}

.exclusive-service {
  background-image: url(../image/service.jpg);
}

.lease {
  background-image: url(../image/lease.jpg);
}

.pool {
  background-image: url(../image/pool.jpg);
}

.cars {
  background-image: url(../image/car.jpg);
}

.services-text{
  margin-bottom: 40px;
  padding-left: 45px;
  max-width: 450px;
  line-height: 2;
}
