.special-offer {
  flex: 0 0 calc(50% - 27px);
  display: flex;
  flex-direction: column;
}

.lux {
  flex:  0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 540px;
  background-image: url(../image/lux.jpg);
  background-repeat: no-repeat;
  border-radius: 10px;

}

.caption-lux {
  margin-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  color: #ffffff;
  font-size: 66px;
  font-weight: 700;
}

.lux-content {
  margin-bottom: 35px;
  padding-left: 40px;
  padding-right: 40px;
}

.lux-text {
  margin-bottom: 40px;
  margin-right: 40px;
  color: #898583;
  font-size: 35px;
}

.lux-link {
  padding-right: 20px;
  color: #cc9933;
  background-image: url(../image/svg/next.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
